html {
  height: 100%;
  font-size: 100vw; }
  @media (min-width: 480px) {
    html {
      font-size: 480px; } }

body {
  height: 100%;
  margin: 0;
  font: captain;
  background: black;
  -webkit-user-select: none;
  user-select: none; }

main {
  height: 100%;
  width: 1rem;
  margin: 0 auto;
  background: #1e89e0;
  position: relative;
  overflow: hidden; }

header {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 24px;
  color: white;
  pointer-events: none; }
  header div + div {
    margin-top: .5em; }

@keyframes MoveGrass {
  from {
    background-position: 1rem 0; }
  to {
    background-position: -76.6px 0; } }
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(img/grass.png) repeat-x;
  background-size: auto 100%;
  height: 68.8px;
  animation: MoveGrass 8s infinite linear;
  z-index: 100;
  pointer-events: none; }

@keyframes ChangeCircleColor {
  to {
    background: black;
    opacity: 0; } }
#circle {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background: darkred;
  opacity: 1;
  animation: ChangeCircleColor .2s;
  display: none;
  position: absolute;
  box-sizing: border-box;
  z-index: 200; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

@keyframes MoveClouds {
  from {
    transform: translateX(1rem); }
  to {
    transform: translateX(-76.6px); } }
#clouds {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 69.2px; }
  #clouds li {
    position: absolute;
    background: url(img/cloud.svg) no-repeat;
    background-size: contain;
    top: 0;
    bottom: 0;
    margin: auto 0;
    animation: MoveClouds 8s infinite linear;
    z-index: 100; }
    #clouds li:nth-child(1) {
      width: 43.17356px;
      height: 34.49897px;
      animation-delay: -1.6s; }
    #clouds li:nth-child(2) {
      width: 56.48795px;
      height: 45.13818px;
      animation-delay: -3.2s; }
    #clouds li:nth-child(3) {
      width: 68.20914px;
      height: 54.5043px;
      animation-delay: -4.8s; }
    #clouds li:nth-child(4) {
      width: 52.26072px;
      height: 41.7603px;
      animation-delay: -6.4s; }
    #clouds li:nth-child(5) {
      width: 42.59809px;
      height: 34.03912px;
      animation-delay: -8s; }

@keyframes MoveCoins {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(calc(100vh + 32px)); } }
@keyframes MoveCoins1 {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(calc(100vh + 32px)); } }
#coins {
  width: 100%;
  height: 100%; }
  #coins li {
    position: absolute;
    background: url(img/ele.png) no-repeat;
    background-size: contain;
    border-radius: 50%;
    animation: MoveCoins 15s linear;
    z-index: 50;
    cursor: pointer; }
    #coins li.clicked {
      opacity: 0;
      transition: opacity .2s;
      animation-play-state: paused; }
    #coins li:nth-child(1) {
      left: calc(1rem / 5 * 1 - 60px); }
    #coins li:nth-child(2) {
      left: calc(1rem / 5 * 2 - 60px); }
    #coins li:nth-child(3) {
      left: calc(1rem / 5 * 3 - 60px); }
    #coins li:nth-child(4) {
      left: calc(1rem / 5 * 4 - 60px); }
    #coins li.toggle-anime {
      animation-name: MoveCoins1; }

/*# sourceMappingURL=index.css.map */
